<div style="width: 99%">
	<div style="margin-top: 1%; margin-bottom: 1%;" class="row">
		<p class="h1" style="margin-left: 40%; color: #09357a">INVII
      SUCCESSIVI</p>
</div>


	<form class="form-group row">
		<label style="margin-left: 1%;" for="example-date-input"
			class="col-1 col-form-label">Inserisci Data:</label>
		<div class="col-3">
			<input class="form-control" type="date" id="example-date-input"
				#dataInserita>
		</div>
		<button type="button" class="btn btn-success"
			(click)="setDataInserita(dataInserita.value)">Invia</button>
		<button style="margin-left: 1%" type="reset" class="btn btn-danger"
			(click)="deleteDateInserita()">Annulla</button>
		<div class="col-4">
			<h4 *ngIf="respMessaggioData"
				style="margin-left: 10%; color: #dc143c">{{ messaggioData }}</h4>
			<h4 *ngIf="respMessaggioUtenteVuoto"
				style="margin-left: 10%; color: #dc143c">{{messaggioUtenteVuoto }}</h4>
		</div>
	</form>
</div>





<div class="col-lg-12">

  <div style="margin-top: 10%; margin-left: 49%" *ngIf="respGif" class="spinner-border text-primary" role="status">
    <span class="sr-only">Caricamento...</span>
  </div>


	<div *ngIf="respTabella">
		<mat-tab-group mat-align-tabs="start"> <mat-tab
			label="Nuovi Utenti Assunti">

		<div class="mat-elevation-z8">
			<table mat-table [dataSource]="dataSource1">


				<ng-container matColumnDef="1">
				<th mat-header-cell *matHeaderCellDef>NOME</th>
				<td mat-cell *matCellDef="let element">
					{{element.nomeAssicurato}}</td>
				</ng-container>


				<ng-container matColumnDef="2">
				<th mat-header-cell *matHeaderCellDef>COGNOME</th>
				<td mat-cell *matCellDef="let element">
					{{element.cognomeAssicurato}}</td>
				</ng-container>


				<ng-container matColumnDef="3">
				<th mat-header-cell *matHeaderCellDef>CODICE CONVENZIONE</th>
				<td mat-cell *matCellDef="let element">
					{{element.codiceConvenzione}}</td>
				</ng-container>


				<ng-container matColumnDef="4">
				<th mat-header-cell *matHeaderCellDef>CODICE FISCALE</th>
				<td mat-cell *matCellDef="let element">
					{{element.codiceFiscaleAssicurato}}</td>
				</ng-container>

				<ng-container matColumnDef="5">
				<th mat-header-cell *matHeaderCellDef>DATA INGRESSO ASSICURATO</th>
				<td mat-cell *matCellDef="let element">
					{{element.dataIngressoAssicurato}}</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
			</table>
		</div>
		</mat-tab> <mat-tab label="Utenti Cessati">
		<div class="mat-elevation-z8">
			<table mat-table [dataSource]="dataSource2">


				<ng-container matColumnDef="1">
				<th mat-header-cell *matHeaderCellDef>NOME</th>
				<td mat-cell *matCellDef="let element">
					{{element.nomeAssicurato}}</td>
				</ng-container>


				<ng-container matColumnDef="2">
				<th mat-header-cell *matHeaderCellDef>COGNOME</th>
				<td mat-cell *matCellDef="let element">
					{{element.cognomeAssicurato}}</td>
				</ng-container>


				<ng-container matColumnDef="3">
				<th mat-header-cell *matHeaderCellDef>CODICE CONVENZIONE</th>
				<td mat-cell *matCellDef="let element">
					{{element.codiceConvenzione}}</td>
				</ng-container>


				<ng-container matColumnDef="4">
				<th mat-header-cell *matHeaderCellDef>CODICE FISCALE</th>
				<td mat-cell *matCellDef="let element">
					{{element.codiceFiscaleAssicurato}}</td>
				</ng-container>

				<ng-container matColumnDef="5">
				<th mat-header-cell *matHeaderCellDef>DATA INGRESSO ASSICURATO</th>
				<td mat-cell *matCellDef="let element">
					{{element.dataIngressoAssicurato}}</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
			</table>
		</div>
		</mat-tab> <mat-tab label="Utenti Variati">
		<div class="mat-elevation-z8">
			<table mat-table [dataSource]="dataSource3">


				<ng-container matColumnDef="1">
				<th mat-header-cell *matHeaderCellDef>NOME</th>
				<td mat-cell *matCellDef="let element">
					{{element.nomeAssicurato}}</td>
				</ng-container>


				<ng-container matColumnDef="2">
				<th mat-header-cell *matHeaderCellDef>COGNOME</th>
				<td mat-cell *matCellDef="let element">
					{{element.cognomeAssicurato}}</td>
				</ng-container>


				<ng-container matColumnDef="3">
				<th mat-header-cell *matHeaderCellDef>CODICE CONVENZIONE</th>
				<td mat-cell *matCellDef="let element">
					{{element.codiceConvenzione}}</td>
				</ng-container>


				<ng-container matColumnDef="4">
				<th mat-header-cell *matHeaderCellDef>CODICE FISCALE</th>
				<td mat-cell *matCellDef="let element">
					{{element.codiceFiscaleAssicurato}}</td>
				</ng-container>

				<ng-container matColumnDef="5">
				<th mat-header-cell *matHeaderCellDef>DATA INGRESSO ASSICURATO</th>
				<td mat-cell *matCellDef="let element">
					{{element.dataIngressoAssicurato}}</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
			</table>
		</div>
		</mat-tab> <mat-tab label="Download file Excel">
		<form method="get" [action]="pathExportExcel">
			<button style="margin-top: 1%; margin-left: 1%;" type="submit"
				class="btn btn-info">Esporta File Excel</button>
		</form>
		</mat-tab> </mat-tab-group>
	</div>
</div>
