<nav class="navbar navbar-expand-sm">
  <ul class="navbar-nav" style="width:100%">
    <li class="nav-item margin-dx">
      <a routerLink="home" class="nav-link margin-dx">HOME</a>
    </li>

    <li class="nav-item dropdown margin-dx">
      <a class="nav-link dropbtn">EXPORT ANAGRAFICHE
        <i class="fa fa-caret-down"></i>
      </a>
      <div class="dropdown-content">
        <a routerLink="invii-successivi">INVII SUCCESSIVI</a>
      </div>
    </li>

    <li class="nav-item margin-dx">
      <a  routerLink="prova" class="nav-link">EXPORT RESIDUI</a>
    </li>
    <li class="nav-item margin-dx" >
      <a class="nav-link">EXPORT FATTURE</a>
    </li>

    <li class="nav-item margin-dx" >
      <a class="nav-link">EXPORT LIQUIDATO</a>
    </li>

  </ul>

  <div class="w-30">
  </div>

  <img src="TracciatiPolizzeSanitarie/logoSara.png">
</nav>
